h1{
    margin: 2rem;
    text-align: center;
}

h2{
    text-align: center;
    font-size: 1.8rem;
}

.divPost{
    margin-top: 0.8rem;
}

.divPost label{
    margin: 1rem 0 1rem 1rem;
}

.divPost p{
    margin-left: 0.3rem;
    font-size: 1.3rem;
}

.divPost .postErro{
    color: red;
}

.divPost .postSucesso{
    color: green;
}

.listaPosts{
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
    margin: 1rem 0;
    padding-left: 1.3rem;
}

.listaPosts .paragrafo1{
    font-size: 1.5rem;
    font-weight: bold;
}

.listaPosts .paragrafo2{
    font-size: 0.9rem;
}

.btn{
    margin: 0 0 1rem 1rem;
    padding: 1rem 3rem;
}

a{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    border: 1px solid black;
    border-radius: 5%;
    margin: 1rem  0 1rem 8rem;
    padding: 0.8rem;
    background-color: lightgrey;
}

.btn-shibe{
    padding: 20px 40px;
    margin: 25px 0 0 50px;
}

.shibe-container{
    margin-top: 50px;
    height: 800px;
}
